body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.body-color {
	background-color: #F4F4F4; 
  font-family: 'Montserrat', sans-serif;
}



body, html {
    height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/quin.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.nav-item {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
	align-items: right;
  color: white;
}

.nav-link {
	text-decoration: none !important;
	margin-top: 5px;
	align-items: right;
}
#intro{
	color:white;

}

.rounded {
  width: 300px;
  height: 300px;
  margin: 0 30px;

}

#about {
	text-align: center;
  margin-top: 50px;

}

#about-me {
  text-align: justify;
  align-content: center;
}


#projects {
  text-align: center;
  margin-top: 50px;
}

#contact {
  margin-top: 50px;
}


.form {
  width: 80%;
  margin-left: 5px;
}

/*.checkbox {
  color: black;
}
*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  display: inline-block;
  border-spacing: 10px;
  list-style: none;
  align-items: center;
}

.fa:hover {
    opacity: 0.7;
}

.footer-icon {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  align-items: center;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}



@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

